.container_1{
    width: 60%;
    margin: auto;
}
.container_1 > form > input {
    width: 95%;
    height: 1.5rem;
    outline: none;
    border-radius: 5px;
    border: 1px solid gray;
}
.container_2{
    width: 60%;
    margin: auto;
    margin-top: 1%;
}
table {
    width: 99%;
    margin: auto;
}
table > thead > td{
    background-color: black;
}
td,th {
    border-bottom: 1px solid darkgray;
    padding: 0.5rem;
}
.tr{
    background-color: lightblue;
}
.footer{
    margin-top: 1% !important;
    width: 60%;
    margin: auto;
    display: flex;
    gap: 10%;
    height:8rem;
}
.btn{
    background-color: rgb(239, 55, 86);
    border: none;
    color: white;
    border-radius: 7px;
    height: 2rem;
    width: 8rem;
    cursor: pointer;
}
ul{
    list-style: none;
    display: flex;
    gap: 5%;
}
li{
    border: 1px solid #1890ff;
    padding: 0.6rem;
    border-radius: 50%;
    cursor: pointer;
    height: 45%
}
li:hover{
    background-color: lightblue !important;
}
.footer > div:nth-child(2) {
    width: 90%;
    display: flex;
    height: 55%;
}
.pagebtn{
    border: none;
    background-color: white;
    cursor: pointer;
}
.pagebtn:hover{
    background-color: lightblue;
}
.icon{
    cursor: pointer;
}