.container1{
    width: 75%;
    border: 1px solid red;
    margin: auto;
}
.table{
    width: 75%;
    margin: auto;
}
.pagination{
    display: flex;
    width: 70%;
    gap: 15%;
    margin: auto;
}